PORT=3000
HOST=0.0.0.0
PUBLIC_BASE_URL=
SECRET_JWT_TOKEN=
JWT_EXPIRES_IN=2h
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
GCS_CLINICAL_BUCKET=nubsmart-medit-clinical
GCS_PUBLIC_BUCKET=nubsmart-medit-public
GCS_KEY_FILE=
FRONTEND_URL=https://medit.nubsmart.com

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@nubsmart.com
SMTP_PASS=
SMTP_FROM=MedIT <info@nubsmart.com>
